body {
    background: rgb(203,0,255);
background: linear-gradient(331deg, rgba(203,0,255,1) 0%, rgba(79,26,108,1) 50%, rgba(9,9,121,1) 100%);
}

a {
    background-color: rgb(29, 175, 119);
    color: rgb(177, 23, 23);
 
}